{% extends 'base.html' %}

{% block content %}
<!-- BEGIN register.html -->
<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>
  <h1>Why MOSS? How will it work? How can I contribute?</h1>
  <p>
    In order to do science at an accelerated pace, scientists need to know what OSS tools are available to them, who is using them, and how. This information is currently not easy to come by.
  </p>

  <p>
    Map of Open-Source Science (MOSS) will improve the discoverability of science-related OSS tools in the context of the associated published research and will encourage scientists and developers to connect and collaborate at the earliest stage possible (instead of reinventing the wheel yet once again).
  </p>

  <p>
    Our MOSS interest group meets on a monthly basis. Simply fill out our <a href="https://chief.sc/ossci-join">OSSci Interest Group Application</a>, and we will be in touch. Thank you!
  </p>

</body>
</html>

<!-- END register.html -->
{% endblock %}