{% extends 'base.html' %}

{% block content %}
<!-- BEGIN article_detail.html -->
<h1>Research article Details</h1>
<p><strong>Title:</strong> {{ article.title }}</p>
<p><strong>Description:</strong> {{ article.description }}</p>
<p><strong>URL:</strong> <a href="{{ article.url }}">{{ article.url }}</a></p>

<p>(<a href="">edit</a>)</p>

<h2>Authors:</h2>
<ul>
    {% for author in article.persons %}
        <li>{{ author.person.name }} - {{ author.person.description }}</li>
    {% endfor %}
</ul>

<p>(<a href="">add author</a>)</p>

<h2>Packages:</h2>
<ul>
    {% for package in article.packages %}
        <li>{{ package.tool.name }} - {{ package.tool.description }}</li>
    {% endfor %}
</ul>

<p>(<a href="">add package</a>)</p>

<p>
  <a href="{{ url_for('articles') }}">Back to list of research articles</a> |
  <a href="{{ url_for('index') }}">Back to homepage</a>
</p>
<!-- END article_detail.html -->
{% endblock %}