<!-- BEGIN header.html -->
<div class="header">
    <div class="header-left">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #92c8f7;">
        <a class="navbar-brand" href="#">MOSS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('articles') }}">Papers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('persons') }}">People</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('tools') }}">Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    {% if current_user.is_authenticated %}
    <div class="header-right">
      You are logged in as: {{ current_user.email }} | <a href="{{ url_for('logout') }}">Log out</a>
    </div>
  {% else %}
    <div class="header-right">
      <a href="{{ url_for('register') }}">Register</a> |
      <a href="{{ url_for('login') }}">Login</a>
    </div>
  {% endif %}
</div>
<!-- END header.html -->