{% extends 'base.html' %}

{% block content %}
<!-- BEGIN index.html -->
<h1>Welcome to Map of Open-Source Science (MOSS)!</h1>
<p>You are looking at a pre-prototype for Map of Open-Source Science (MOSS), a new interface that lets you explore science-related OSS tools, the associated published research papers, and the people behind both.</p>
{% if not current_user.is_authenticated %}
    <p>Please <a href="{{ url_for('login') }}">login</a> or <a href="{{ url_for('register') }}">register</a> to access the full functionality.</p>
{% endif %}
<p>Browse our inventory:</p>
<ul>
  <li><a href="{{ url_for('tools') }}">Tools</a></li>
  <li><a href="{{ url_for('articles') }}">Papers</a></li>
  <li><a href="{{ url_for('persons') }}">People</a></li>
</ul>
<!-- END index.html -->
{% endblock %}