{% extends 'base.html' %}

{% block content %}
<h1>Add an Author</h1>
<!-- BEGIN person_form.html -->
<h1>{{ form_title }}</h1>
<form action="{{ form_action }}" method="POST">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Name" value="{{ person.name if person else '' }}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="description" placeholder="Description" value="{{ person.description if article else '' }}" required>
    </div>
  </div>
  <div class="form-group row">
    <label for="url" class="col-sm-2 col-form-label">Website Link</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="url" placeholder="URL" value="{{ person.url if article else '' }}" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <input type="submit" class="btn btn-primary" value="Add">
    </div>
  </div>
</form>
<!-- END person_form.html -->
{% endblock %}