{% extends 'base.html' %}

{% block content %}
<!-- BEGIN user_form.html -->
<h1>Update Profile</h1>
<form action="{{ url_for('user_form') }}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ user.name }}">
    <br>
    <label for="bio">Bio:</label>
    <textarea id="bio" name="bio">{{ user.bio }}</textarea>
    <br>
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" value="{{ user.url }}">
    <br>
    <input type="submit" value="Update Profile">
</form>
<!-- END user_form.html -->
{% endblock %}